/* Class */
.welcome-pic
{
    padding: 100px;
    transition: transform .2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* put evrything in center */
    max-width: 500px;
}
/* used hover to zoom pic */
.welcome-pic:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.input-form
{
    text-align: center;
    /* button on the right of form */
    display: flex;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.text-right{
    text-align: center;
    color: blue;
    

}
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* to access td of th of table class  */
.table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
  }
  /* to access tr and nth children  of table class  */
.table tr:nth-child(even){
    background-color: #f2f2f2;}

.table tr:hover {
    background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
  
  