/* Class */
.welcome-pic
{
    padding: 100px;
    transition: transform .2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* put evrything in center */
    max-width: 500px;
}
/* used hover to zoom pic */
.welcome-pic:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.input-form
{
    text-align: center;
    /* button on the right of form */
    display: flex;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.text-right{
    text-align: center;
    color: blue;
    

}
